{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Usuarios - Mis Perris</title>
    <link rel="stylesheet" href="/static/fontsicon/style.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <nav>
                        <ul>
                            <li>
                                </a><img src="/static/IMG/logo.png" alt="logo">
                            </li>
                            <li>
                                <a href="{% url 'blog:home' %}">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Quiénes Somos</a>
                            </li>
                            <li>
                                <a href="#">Servicios</a>
                            </li>
                            <li>
                                <a href="#">Contáctanos</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <br>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>