<!DOCTYPE html>
<html lang="es">
{% load staticfiles %} {% load pwa %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mis Perris</title>
    <script src="/static/Js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/fontsicon/style.css">
    <link rel="stylesheet" href="/static/css/flexboxgrid.css">
    <link rel="stylesheet" href="" type="text/css">
    <script src="static/Js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="/static/css/LightBox.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <script src="static/Js/script.js"></script>
    <link rel="stylesheet" href="/static/css/Style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <nav>
                        <ul>
                            <li>
                                <img src="/static/IMG/logo.png" alt="logo">
                            </li>
                            <li>
                                <a href="{% url 'blog:home' %}">Inicio</a>
                            </li>

                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'blog:mascota_new' %}" class="top-menu"><span class="icon-plus agregar"></span>
                                    Agregar nueva mascota</a>
                            </li>
                            <li style="font-size:22px" class="aviso-user">
                                <div class="connect-message">
                                    Conectado como: {{ request.user }}
                                </div>
                            </li>
                            <li>
                                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="salir" type="submit">Salir</button>
                                </form>
                            </li>
                            {% else %}
                            <li style="font-size:20px">
                                <a href="{% url 'accounts:login' %}">INGRESA</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
                <br> {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>